<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to NAGP 2022. This is dummy application os Node JS.</p>
  </body>
  <script>
    console.table(<%- JSON.stringify(env) %>)
  </script>
</html>
